<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Shafiya Heena</h2>
                    <p class="text-justify">Currently I am a student at Centennial college pursuing PG  diploma in Software Engineering and
                        Technology. I'm basically a DevOps Engineer for almost 6 years from reputated IT company in my home country. As I 
                        decided to boost up my career options I prefered to study by giving career a small break.Looking forward to achieve
                        my short term/long term goals soon.:)
                    </p>
                    <button type="button" class="btn btn-success" onclick=" window.open('https://drive.google.com/file/d/1IC8aEjdcXrse1P9HTRG2uxU_1KbE5EBt/view?usp=sharing')">Resume</button>
                </div>
                <div class="col-md-6">
                    <img src="Assets\images\Photo.jpg" />
                </div>
            </div>
          </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>