<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1 class="display-3">Welcome to my Shafiya's Portfolio.</h1>
        <p class="lead">Hello and Welcome! Today we are going to look at how I have used and incorporated Expressjs 
          and Node js into my first assignment.It was fun learning new technology and language.</p>
        <hr class="my-2">
        <p>Please click on the button below to know more about me.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/about" role="button">About Me</a>
        </p>
      </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>