<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1 class="display-3">Welcome to Karen's Portfolio.</h1>
        <p class="lead">Welcome! Today, we'll explore my initial assignment, 
        spotlighting the seamless integration of Express.js and Node.js. Embracing new technologies and languages was both educational and enjoyable. Thanks for joining the journey!</p>
        <hr class="my-2">
        <p>Please click on the button below to know more about me.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/about" role="button">About Me</a>
        </p>
      </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>