<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class = "container">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/Assets/images/proj1.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Sql lite Project</h4>
            <p class="card-text">Developed a GUI Java application that will allow the players to submit information about themselves and the games that they are playing on-line. 
              The information will be stored in a simple SQLite database.GUI provides the necessary SWING or JavaFX components that will allow the user to enter and display. 
              
            </p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/Assets/images/proj2.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">JavaFX Project</h4>
            <p class="card-text">Developed a GUI Java application using JavaFx that will allow the student to submit information about themselves and get stored
              in JDBC. Whenever user wants to confirm the details there is display button which will fetch the details from JDBC and populate on java pane.
              
            </p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/Assets/images/proj3.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Online Food Ordering App</h4>
            <p class="card-text">Developed a SRS ,SDD and SSC documents and plans fro Online food ordering system. The flow of the project is described in detailed
              in the above picture. The current challenges facing by the users while operating the food app are been researched and been taken care in this project 
              development
    
            </p>
          </div>
        </div>
      </div>
  </main>

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>