<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<main class="container">
<div class="list-group">
    <a href="/serviceregister" class="list-group-item list-group-item-action text-center"><i class="fab fa-html5"></i> Web Development <i class="fab fa-html5"></i></a>
    <a href="/serviceregister" class="list-group-item list-group-item-action text-center"><i class="fab fa-android"></i> Mobile Application Development <i class="fab fa-android"></i></a>
    <a href="/serviceregister" class="list-group-item list-group-item-action text-center"><i class="fas fa-database"></i> DB administration <i class="fas fa-database"></i></a>
    <a href="/serviceregister" class="list-group-item list-group-item-action text-center"><i class="fab fa-c#"></i> c# Development <i class="fab fa-c#"></i></a>
</div>
</main>



<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>