<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<main class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Registered Succesfully</h1>
          <p class="lead">Please click below to be redirected to more services. </p>
          <a class="btn btn-primary btn-lg" href="/services" role="button">Services</a>
        </div>
      </div>
</main>



<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>