<%- include partials/header.ejs %>

<%- include partials/content.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <div class="container"></div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Karen Dela Cruz</h2>
                    <p class="text-justify">I'm presently enrolled in the Software Engineering Technician Program at Centennial College.
                    I served as a Data Engineer Senior  Analyst for nearly seven years at a reputable IT company in my home country.
                    In a strategic move to enhance my career prospects, I chose to pursue further education, taking a deliberate break to invest in my professional development.
                    I am eager to realize my short-term and long-term career goals and am committed to making meaningful contributions to future endeavors. 
                    Thank you for considering my profile.
                    </p>
                    <button type="button" class="btn btn-success" onclick=" window.open('https://docs.google.com/document/d/1X7hJmkpAQetC_0g03f1dIlwt8yTOCXqF/edit?usp=sharing&ouid=108747194776719083814&rtpof=true&sd=true')">Resume</button>
                </div>
                <div class="col-md-6">
                    <img src="Assets\images\karen.png" />
                </div>
            </div>
          </div>
    </div>
  </main>



<%- include partials/footer.ejs %>